@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in {
	animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-200px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* No inherit option in tailwindcss, so we have to use media query to override the flex-flow property */
/* .offers-cards-container {
	@media (min-width: 768px) {
		flex-flow: inherit;
	}
}

img {
	float: left;
} */
